<! DOCTYPE html>
@model TPLOCAL1.Models.Form
@Html.ValidationSummary(false, "")
<html>
<head>
    <title>HN - TP LOCAL</title>
    <link rel="stylesheet" href="~/resources/Index.css" />
</head>
<body>
    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupHN" />
        <h1>Formulaire TP HN avis validé</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/Home/Index">Accueil</a></li>
            <li><a href="/Home/Index/OpinionList">Avis List</a></li>
        </ul>
    </nav>

    
    <section>
        <table>
            <thead>Informations Personnelles</thead>
            <tr>
                <td>@Html.LabelFor(m => m.Nom) : </td>
                <td>@ViewBag.form.Nom</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Prenom) : </td>
                <td>@ViewBag.form.Prenom</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Sexe) : </td>
                <td>@ViewBag.form.Sexe</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Adresse) : </td>
                <td>@ViewBag.form.Adresse</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.CodePostal) : </td>
                <td>@ViewBag.form.CodePostal</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Ville) : </td>
                <td>@ViewBag.form.Ville</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Email) : </td>
                <td>@ViewBag.form.Email</td>
            </tr>
        </table>
        <table>
            <thead>Informations Formation suivie</thead>
            <tr>
                <td>@Html.LabelFor(m => m.DateDebut) : </td>
                <td>@ViewBag.form.DateDebut</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Formation) : </td>
                <td>@ViewBag.form.Formation</td>
            </tr>
        </table>
        <table>
            <thead>Avis sur la formation</thead>
            @if (ViewBag.form.Formation == "Cobol")
            {
                <tr>
                    <td>@Html.LabelFor(m => m.AvisCobol) : </td>
                    <td>@ViewBag.form.AvisCobol</td>
                </tr>
            }
            else if (ViewBag.form.Formation == "Csharp")
            {
                <tr>
                    <td>@Html.LabelFor(m => m.AvisCsharp) : </td>
                    <td>@ViewBag.form.AvisCsharp</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@Html.LabelFor(m => m.AvisCobol) : </td>
                    <td>@ViewBag.form.AvisCobol</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.AvisCsharp) : </td>
                    <td>@ViewBag.form.AvisCsharp)</td>
                </tr>
            }

        </table>

    </section>
</body>
</html>
